.mainExperienceCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.inner-Page iframe {
  background-color: black;
  border-radius: 20px;
  border: none;
  width: 1366px;
  height: 900px;
}
.startButton {
  position: absolute;
  margin: 1rem;
  padding: 0.2rem 1rem;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  z-index: 99999;
  transition: background-color 50ms;
}

.startButton:hover {
  background-color: white;
  color: black;
  border-color: black;
}
